<div class="projectsPage">

    <div class="page_content" id="page_content">
        <h1 class="page_title">Projects</h1>
        <div class="projects_layout">
            {{#each projectData.projects as |project index|}}
            <div class="card_container">
                <a href="/projects/{{index}}">
                    <div class="card_image_content" id="card_content">
                        <figure>
                            <img src="{{picture}}"></img>
                        </figure>
                    </div>
                    <div class="card_content" id="card_content">
                        <div class="card_header">
                            <h2 class="card_title">{{project.title}}</h2>
                            <h2 class="card_date">{{endDate}}</h2>
                        </div>
                        <p class="card_info">{{information}}</p>
                        <a class="readMore" href="/projects/{{index}}">Read More</a>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>